<div class="container-fluid">
    <div id="Home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Iusto reiciendis odio eveniet
                ratione praesentium cumque quibusdam ducimus
                inventore nisi porro accusantium atque, tempore
                quo, eligendi, accusamus soluta distinctio.
                Omnis, asperiores!
            </p>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-5 offset-md-2 py-3">
        <h2>
            Novedades
        </h2>
        <ul class="lista-novedades">

            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="img/novedades01.jpg">
                    Nuevas recetas 1 </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="img/novedades01.jpg">
                    Nuevas recetas 2 </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="img/novedades01.jpg">
                    Nuevas recetas 3 </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="img/novedades01.jpg">
                    Nuevas recetas 4 </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="img/novedades01.jpg">
                    Nuevas recetas 5 </a></li>
        </ul>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Nueva receta 1</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Subtitulo</h3>
                    <p>cuerpo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center">testimonios</h2>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonio">
                        <h5>"La mejor birra del mundo!!"</h5>
                        <p>Francisco, Monte Grande</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <h5>"La mejor birra del mundo!!"</h5>
                        <p>Flavia, Devoto</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <h5>"La mejor birra del mundo!!"</h5>
                        <p>Eric, Mataderos</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
</div>
<div id="historia" class="row aling-items-center py-4">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="img/historia_1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="img/historia_2.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="img/historia_3.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Possimus ex commodi quas,
            eius expedita quasi tenetur repellat labore
            magnam unde repudiandae obcaecati tempore ut quaerat?</p>
    </div>

    <div id="nosotros" class="row aling-items-stretch my-3 staff py-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="img/novedades01.jpg" class="card-img-top" alt="Diana Reyes">
                    <div class="card-body">
                        <h5 class="card-title">Diana Reyes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="img/novedades01.jpg" class="card-img-top" alt="Franco Muro">
                    <div class="card-body">
                        <h5 class="card-title">Franco Muro</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="img/novedades01.jpg" class="card-img-top" alt="David Rolando">
                    <div class="card-body">
                        <h5 class="card-title">David Rolando</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="Conocenos" class="row py-4">
            <div class="col-md-4 offset-md-2">
                <h2>Visitanos</h2>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26273.765303157837!2d-58.440706912973255!3d-34.598581242946146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d491805d%3A0xd6748013d82fc42a!2sUniversidad%20Tecnol%C3%B3gica%20Nacional!5e0!3m2!1ses-419!2ses!4v1716395384302!5m2!1ses-419!2ses"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" >
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3">
 </textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            {{message}}
        </div>